*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container td img{
    width: 100px;
}
table{
    border-collapse:collapse ;
    margin-top: 40px;
    width: 1000px;
    text-align: center;
}
table th,td{
    padding: 10px;
}
.main-container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}