*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: white;
    position: relative;
    top: 50px;
}
.sub-container{
    position: relative;
    width: 80px;
    height: 140px;
}
.sub-container img{
    position: absolute;
    width: 100%;
}
.sub-container p{
    margin-top: 90px;
    text-align: center;
    font-size: 12px;
}
body{
    background-color: rgb(192, 189, 189);
}