
{% block productdata %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/productdata.css' %}">
    <!-- <link rel="stylesheet" href="{static 'css/bootstrap.min.css'}"> -->
</head>
<body>
  <div class="main-container">
    {% for product in product_items %}
    <div class="container">
          <div class="card" >
                <a href="{% url 'singleproductitem' product.slug  %}"><img src="{{product.image1.url}}" height="200px" width="200px" alt="">
                <div class="card-body">
                  <a href="{% url 'singleproductitem' product.slug  %}">{{product.product.product_name}}</a>
                  <p ><span>₹{{product.sale_price}}       </span> <strike>₹{{product.original_price}}</strike></p>
                   <a href="{% url 'singleproductitem' product.slug  %}"><button>View</button></a>
                </div>
            </a>
          </div>
    </div>
    {% endfor %}
  </div>
</body>
</html>
{% endblock %}