<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cartdisplay.css' %}">
</head>
<body>
    <div class="main-container">
        <table border="1">
            <tr>
                <th></th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
    {% for i in items %}
        <tr>
        <td><img src="{{i.product_item.image1.url}}" alt=""></td>
        <td>{{i.product_item}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.product_item.sale_price}}</td>
        <td>{{i.quantity}}+{{i.product_item.sale_price}}</td>
        </tr>
    {% endfor %}
    </div>
    </table>
</body>
</html>