{% extends  "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/registering.css' %}">
<div class="container">
    <h1>Forgot Password</h1>
    {% load crispy_forms_tags %}
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Submit">
        <p><a href="{% url 'login' %}" style="color: rgb(5, 30, 255);">Remember Password?</a></p>
    </form>
</div>
{% endblock %}