<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>follw this link to reset your password</p>
    <a href="{{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}">reset password</a>
    {{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}
    your username, in case you've forgotten :{{user.get_username}}
</body>
</html>