{% extends  "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/registering.css' %}">
<div class="container">
    <h1>Registration</h1>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{message}} 
      </div>
    {% endfor %}
    {% load crispy_forms_tags %}
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Register">
        <span>Already have an Account?</span><a href="{% url 'login' %}">Signin</a>
    </form>
</div>
{% endblock %}